body{
    
}

.calc_simples{
background-color: rgb(48, 43, 43);
padding: 5px;
width: 220px;
border-radius: 10px;
text-align: center;
}

.display_simples{
background-color: rgb(22, 22, 21);
width: 100%;
text-align: center;
}

#resultado{
    background-color: rgb(5, 73, 31);
    color: white;

}

button{
width: 40px;
height: 40px;
padding: 2px;
color: black;
}

#igual{
    backgrouund-color: aqua;
}