
.calc_simples{
background-color: rgb(48, 43, 43);
padding: 5px;
width: 250px;
border-radius: 10px;
text-align: center;
}

.display_simples{
background-color: rgb(22, 22, 21);
width: 100%;
text-align: center;
}

#resultado{
    background-color: rgb(5, 73, 31);
    color: white;
    text-align: end;
    height: 40px;
    font-size: 17px;
    padding: 5px;

}

button{
width: 50px;
height: 40px;
padding: 2px;
font-size: 22px;
color: black;
}

#igual{
    background-color: rgb(5, 73, 31);
}