@import url(calculadora_simples.css);

*{
    padding: 0;
    margin: 0;

}



.barra_superior{
    background-color: #6a9eda;
}

.conteudo{
    background-color: #84b6f4;
}

.rodape{
    background-color: #b2dafa;
}